@model IEnumerable<AMR.Models.FacilityPracticeModel>

  <table class="table">

        <thead>

            <tr>

                  <th>Practice ID</th>
                <th>Practice Name</th>
                <th>Organization Name</th>
                <th>Address</th>
                <th>Edit</th>
                
            </tr>

        </thead>

        <tbody>
            @if(Model != null && Model.Count() > 0)
            {
                int counter=0;
                foreach (var item in Model)
                {
                    System.Text.StringBuilder jsonString = new System.Text.StringBuilder();

                    jsonString.Append(" { ");
                    jsonString.Append("\"PracticeId\": \"" + item.PracticeId + "\",");
                    jsonString.Append("\"FacilityName\":  \"" + item.PracticeName + "\",");
                    jsonString.Append("\"Address1\":  \"" + item.Address1 + "\",");
                    jsonString.Append("\"Address2\":  \"" + item.Address2 + "\",");
                    jsonString.Append("\"Address3\":  \"" + item.Address3 + "\",");
                    jsonString.Append("\"City\":  \"" + item.City + "\",");
                    jsonString.Append("\"State\":  \"" + item.State + "\",");
                    jsonString.Append("\"PostalCode\":  \"" + item.PostalCode + "\",");
                    jsonString.Append("\"CountryCode\": \"" + item.CountryCode + "\"");
                    jsonString.Append("}");
            <tr style="cursor:pointer;" onclick="OpenFacility(@item.PracticeId);">
                <td ><a style="cursor:pointer;" onclick="OpenFacility(@item.PracticeId);">@item.PracticeId</a></td>
                <td>@item.PracticeName  <input type="hidden" id="hdPractice-@item.PracticeId" value="@jsonString.ToString()" /></td>
                 <td>@item.OrganizationName</td>
                @if(item.Address1 =="" && item.State =="" && item.City =="" && item.PostalCode =="")
                {
                    <td></td>
                }
                else
                {
                   <td>@item.Address1 ,@item.City ,@item.State ,@item.PostalCode</td>
                }
                <td><img src="Content/img/Edit.png" style="margin-right: 50px;  height:20px;cursor:pointer; " onclick="EditPractice(@item.PracticeId);"></td>

                
            </tr>
                    counter++;
                }
            }
            else
            {
            <tr>
                <td colspan="4">No Information Found</td>
            </tr>
            }
        </tbody>

    </table>