@model IEnumerable<AMR.Models.SocialHistoryModel>
@using System.Web.Script.Serialization;
<table class="box-table-a" id="tbl-SocialHistory" summary="SocialHistory">
                    <thead>
                        <tr>
                            <th scope="col" style="vertical-align:middle"><span style="margin-left:2px;">Description</span></th>                            
                            <th scope="col" style="vertical-align:middle">Start Date</th>
                            <th scope="col" style="vertical-align:middle">End Date</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count()>0)
                        {
                            int counter = 0;
                            foreach (var item in Model)
                            {
                                 @*
                                                    StringBuilder jsonStringSocial = new StringBuilder();

                                                    jsonStringSocial.Append(" { ");
                                                    jsonStringSocial.Append("\"PatSocialHistCntr\": \"" + item.PatSocialHistCntr + "\",");
                                                    jsonStringSocial.Append("\"Description\": \"" + item.Description + "\",");
                                                    jsonStringSocial.Append("\"Qualifier\":  \"" + item.Qualifier + "\",");
                                                    jsonStringSocial.Append("\"CodeValue\":  \"" + item.CodeValue + "\",");
                                                    jsonStringSocial.Append("\"BeginDate\":  \"" + (item.BeginDate) + "\",");
                                                    jsonStringSocial.Append("\"EndDate\":  \"" + item.EndDate + "\",");
                                                    jsonStringSocial.Append("\"Note\":  \"" + item.Note + "\"");
                                                    jsonStringSocial.Append("}");
                                                    *@
                                                
                                                    var jsonStr = new JavaScriptSerializer().Serialize(item);
                              
                                <tr class="@((counter % 2 == 0) ? "r1" : "r0")" onclick="OpenSocialHistRecord(@item.PatSocialHistCntr);">


                                    <td style="vertical-align:middle"><input type="hidden" id="hdSocialHist@(item.PatSocialHistCntr)" value="@jsonStr" />@item.Description</td>
                                    @{
                                            DateTime dtBDate;
                                            if (item.BeginDate.Length == 8 && DateTime.TryParseExact(item.BeginDate, "yyyyMMdd", System.Globalization.CultureInfo.InvariantCulture, System.Globalization.DateTimeStyles.None, out dtBDate))
                                            {
                                                DateTime dtOcc = DateTime.ParseExact(item.BeginDate, "yyyyMMdd", null);
                                                string s = dtOcc.ToString("MM/dd/yyyy");

                                                <td style="vertical-align:middle">@s</td>
                                            }
                                            else if ((item.BeginDate).Trim().Length == 6)
                                            {
                                                string strYear = item.BeginDate.Substring(0, 4);
                                                string strMonth = item.BeginDate.Substring(4, 2);
                                                string strBDate = strMonth + "/" + strYear;
                                                <td style="vertical-align:middle">@strBDate</td>
                                            }
                                            else
                                            {
                                                <td style="vertical-align:middle">@item.BeginDate</td>
                                            }      
                                          }
                                         
                                         @{
                                            DateTime dtEDate;
                                            if (item.EndDate.Length == 8 && DateTime.TryParseExact(item.EndDate, "yyyyMMdd", System.Globalization.CultureInfo.InvariantCulture, System.Globalization.DateTimeStyles.None, out dtEDate))
                                                {
                                                    DateTime dtEndDate = DateTime.ParseExact(item.EndDate, "yyyyMMdd", null);
                                                    string s = dtEndDate.ToString("MM/dd/yyyy");

                                                    <td style="vertical-align:middle">@s</td>
                                                }
                                                else if ((item.EndDate).Trim().Length == 6)
                                                {
                                                    string strYear = item.EndDate.Substring(0, 4);
                                                    string strMonth = item.EndDate.Substring(4, 2);
                                                    string strEDate = strMonth + "/" + strYear;
                                                    <td style="vertical-align:middle"> @strEDate</td>
                                                }
                                                else
                                                {
                                                    <td style="vertical-align:middle">@item.EndDate</td>
                                                }
                            
                                                   
                                         }
                                         
                                </tr>
                            
                                counter++;
                            }
                        }
                        else
                        {
                             <tr>
                                <td width="200px;" style="vertical-align:middle">No Information Available.</td>
                            </tr>
                        }
                    </tbody>
                </table>