@model IEnumerable<AMR.Models.MedicalHistoryModel>
@using System.Text;
<table class="box-table-a" id="tbl-PastMedications" summary="Medications">
                    <thead>
                        <tr>
                            <th id="PastHistOcc" scope="col" style="vertical-align:middle"><span style="margin-left:2px;" >Date</span></th>
                            <th id="PastHistDiagnose" scope="col" style="vertical-align:middle">Diagnosis/Disease</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model !=null && Model.Count()>0)
                        {
                            int counter=0;
                            foreach (var item in Model)
                            {
                                StringBuilder jsonStringPast = new StringBuilder();

                                jsonStringPast.Append(" { ");
                                jsonStringPast.Append("\"PatMedicalHistCntr\": \"" + item.PatMedicalHistCntr + "\",");
                                jsonStringPast.Append("\"DateOfOccurance\": \"" + item.DateOfOccurance + "\",");
                                jsonStringPast.Append("\"Description\":  \"" + item.Description + "\",");
                                jsonStringPast.Append("\"Note\":  \"" + (item.Note) + "\"");
                                jsonStringPast.Append("}");
                                <tr class="@((counter % 2 == 0) ? "r1" : "r0")"  onclick="OpenPastMedicalHistoryRecords(@item.PatMedicalHistCntr);">

                                      @{
                                        DateTime dtexDate;
                                        if (item.DateOfOccurance.Length == 8 && DateTime.TryParseExact(item.DateOfOccurance, "yyyyMMdd", System.Globalization.CultureInfo.InvariantCulture, System.Globalization.DateTimeStyles.None, out dtexDate))
                                        {
                                            DateTime dtOcc = DateTime.ParseExact(item.DateOfOccurance, "yyyyMMdd", null);
                                            string s = dtOcc.ToString("MM/dd/yyyy");

                                            <td style="vertical-align:middle"><input type="hidden" id="hdPastMed-@item.PatMedicalHistCntr" value="@jsonStringPast.ToString()" />@s</td>
                                        }
                                        else if ((item.DateOfOccurance).Trim().Length == 6)
                                        {
                                            string strYear = item.DateOfOccurance.Substring(0, 4);
                                            string strMonth = item.DateOfOccurance.Substring(4, 2);
                                            string strOccDate = strMonth + "/" + strYear;
                                            <td style="vertical-align:middle"><input type="hidden" id="hdPastMed-@item.PatMedicalHistCntr" value="@jsonStringPast.ToString()" />@strOccDate</td>
                                        }
                                        else
                                        {
                                            <td style="vertical-align:middle"><input type="hidden" id="hdPastMed-@item.PatMedicalHistCntr" value="@jsonStringPast.ToString()" /><div style="margin-left:0px;">@item.DateOfOccurance</div></td>
                                        }                  
                                     }
                             
                                    <td style="vertical-align:middle"><span style="margin-left:-2px;">@item.Description</span></td>                                    
                                </tr>
                                counter++;
                            }
                        }
                        else
                        {
                          <tr>
                                <td  width="200px;" style="vertical-align:middle">No Information Available.</td>
                              <td> </td>
                              <td></td>
                            </tr>
                        }
                    </tbody>
</table>

