@using AMR.Models;
@using AMR.Core.Extensions;
@using System.Text;
@model HomeViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/themes/redmond/jquery-ui.css")" />
    <link href="@Url.Content("~/Content/css/themes/redmond/jquery-ui-1.10.3.custom.css")" rel="stylesheet">

    <script src="@Url.Content("~/Content/css/ui/jquery.ui.core.js")"></script>
    <script src="@Url.Content("~/Content/css/ui/jquery.ui.widget.js")"></script>
    <script src="@Url.Content("~/Content/css/ui/jquery.ui.accordion.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery-1.9.1.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery-1.9.2.custom.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery-ui.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.maskedinput-1.2.2.js")"></script>
    <script src="@Url.Content("~/Content/js/validator.js")"></script>
    <script>
        var checkquestion = false;
        var question = "";
        var question2 = "";
        function selectid(id) {
            $('#hdid').val(id);
            $('#txtemail').val("");

        }
        function ResetPassword() {
            var userid = "";
            //   $("#ResetPassword1").css("display", "none");
            $("#ResetPassword").css("display", "none");
            if (checkquestion == false) {
                $("#divMessage").html('');
                if ($('#txtUserName').val() != null && $('#txtUserName').val() != "") {
                    userid = $('#txtUserName').val();
                }
                else if ($('#hdid1').val() != "") {
                    //  alert("seconde hiddern value");
                    userid = $('#hdid1').val();
                }
                else {
                    //  alert("1 hiddern value");
                    userid = $('#hdid').val();

                }
                var ans = $.trim($('#txtAnswer').val());
                if (ans == "") {
                    ans = $.trim($('#txtAnswerTwo').val());
                }
                if (($("#txtAnswer").val() == "" || $("#txtAnswer").val() == null) || ($("#txtAnswerTwo").val() == "")) {
                    alert("Please enter the answer to the given question");
                    $("#ResetPassword").css("display", "block");

                    return false;
                }
            }
            else {
                //   alert("Question 1 is " + question);
                //      alert("Question 2 is " + question2);
                if (question != "") {
                    if ($("#txtAnswer").val() == "" || $("#txtAnswer").val() == null) {
                        alert("Please enter the answer to the given question");
                        $("#ResetPassword").css("display", "block");

                    }
                    //  alert("Answer 1 is an invalid answer");
                }
                if (question2 != "") {
                    if ($("#txtAnswerTwo").val() == "" || $("#txtAnswerTwo").val() == null) {
                        alert("Please enter the answer to the given question");
                        $("#ResetPassword").css("display", "block");

                        return false;
                    }
                    //alert("Answer 2 is an invalid answer");
                }

                if ($('#hdid1').val() != "") {

                    userid = $('#hdid1').val();

                }
                else {

                    userid = $('#hdid').val();


                }

            }
            ShowLoader();

            try {
                var requestData = {
                    UserLogin: userid,
                    SecurityAnswer: $.trim($('#txtAnswer').val()),
                    SecurityAnswer2: $.trim($('#txtAnswerTwo').val())
                };

                $.ajax({
                    type: 'POST',
                    url: 'reset-password',
                    data: JSON.stringify(requestData),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        checkquestion = false;
                        //  question = "";
                        // question2 = "";
                        //  $('#hdid1').val("");
                        // $('#hdid').val("");
                        // if success
                        if (data == "Answer 1 and answer 2 are invalid answers") {
                            //$("#divMessage").html(data);
                            alert(data);
                            $("#txtAnswer").val("");
                            $("#txtAnswerTwo").val("");
                            if (question2 != "" || question != "") {
                                //    alert("change flag");
                                checkquestion = true;
                            }
                            //   $("#ResetPassword1").css("display", "block");
                            $("#ResetPassword").css("display", "block");
                            // $("#divMessage").css("display", "true");
                        }
                        else if (data == "Answer 1 is an invalid answer") {
                            // $("#divMessage").html(data);
                            //$("#divMessage").css("display", "true");
                            alert(data);
                            $("#txtAnswer").val("");
                            $("#txtAnswerTwo").val("");
                            if (question2 != "" || question != "") {
                                //  alert("change flag");
                                checkquestion = true;
                            }
                            // $("#ResetPassword1").css("display", "block");
                            $("#ResetPassword").css("display", "block");
                        }
                        else if (data == "Answer 2 is an invalid answer") {
                            //  $("#divMessage").html(data);
                            //$("#divMessage").css("display", "true");
                            alert(data);
                            //   alert("question1 is" + question);
                            //   alert("question2 is" + question2);
                            if (question2 != "" || question != "") {
                                //     alert("change flag");
                                checkquestion = true;
                            }
                            $("#txtAnswer").val("");
                            $("#txtAnswerTwo").val("");
                            //  $("#ResetPassword1").css("display", "block");
                            $("#ResetPassword").css("display", "block");

                        }
                        else {
                            //  $("#divMessage").html(data);
                            //$("#divMessage").css("display", "true");
                            alert(data);
                            //    $("#ResetPassword1").css("display", "block");
                            $("#ResetPassword").css("display", "block");
                            window.parent.$('#Forgotpassworddialog').dialog('close');
                            checkquestion = true;
                            question = "";
                            question2 = "";
                            $('#hdid1').val("");
                            $('#hdid').val("");
                            $("#txtAnswer").val("");
                            $("#txtAnswerTwo").val("");
                        }

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        //if error

                        alert('Error : ' + xhr.message);
                    },
                    complete: function (data) {
                        // if completed
                        HideLoader();

                    },
                    async: true,
                    processData: false
                });
            }

            catch (err) {

                if (err && err !== "") {
                    alert(err.message);
                    HideLoader();
                }
            }
        }

        function ResetPassword1() {
            var userid = "";
            $("#ResetPassword1").css("display", "none");
            //$("#ResetPassword").css("display", "none");
            if (checkquestion == false) {
                $("#divMessage").html('');
                if ($('#txtUserName').val() != null && $('#txtUserName').val() != "") {
                    userid = $('#txtUserName').val();
                }
                else if ($('#hdid1').val() != "") {
                    //  alert("seconde hiddern value");
                    userid = $('#hdid1').val();
                }
                else {
                    //  alert("1 hiddern value");
                    userid = $('#hdid').val();

                }
                var ans = $.trim($('#txtAnswer').val());
                if (ans == "") {
                    ans = $.trim($('#txtAnswerTwo').val());
                }
                if (($("#txtAnswer").val() == "" || $("#txtAnswer").val() == null) || ($("#txtAnswerTwo").val() == "")) {
                    alert("Please enter the answer to the given question");
                    $("#ResetPassword1").css("display", "block");

                    return false;
                }
            }
            else {
                //   alert("Question 1 is " + question);
                //      alert("Question 2 is " + question2);
                if (question != "") {
                    if ($("#txtAnswer").val() == "" || $("#txtAnswer").val() == null) {
                        alert("Please enter the answer to the given question");
                        $("#ResetPassword1").css("display", "block");

                    }
                    //  alert("Answer 1 is an invalid answer");
                }
                if (question2 != "") {
                    if ($("#txtAnswerTwo").val() == "" || $("#txtAnswerTwo").val() == null) {
                        alert("Please enter the answer to the given question");
                        $("#ResetPassword1").css("display", "block");

                        return false;
                    }
                    //alert("Answer 2 is an invalid answer");
                }

                if ($('#hdid1').val() != "") {

                    userid = $('#hdid1').val();

                }
                else {

                    userid = $('#hdid').val();


                }

            }
            ShowLoader();

            try {
                var requestData = {
                    UserLogin: userid,
                    SecurityAnswer: $.trim($('#txtAnswer').val()),
                    SecurityAnswer2: $.trim($('#txtAnswerTwo').val())
                };

                $.ajax({
                    type: 'POST',
                    url: 'reset-password',
                    data: JSON.stringify(requestData),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        checkquestion = false;
                        //  question = "";
                        // question2 = "";
                        //  $('#hdid1').val("");
                        // $('#hdid').val("");
                        // if success
                        if (data == "Answer 1 and answer 2 are invalid answers") {
                            //$("#divMessage").html(data);
                            alert(data);
                            $("#txtAnswer").val("");
                            $("#txtAnswerTwo").val("");
                            if (question2 != "" || question != "") {
                                //    alert("change flag");
                                checkquestion = true;
                            }
                            //   $("#ResetPassword1").css("display", "block");
                            $("#ResetPassword1").css("display", "block");
                            // $("#divMessage").css("display", "true");
                        }
                        else if (data == "Answer 1 is an invalid answer") {
                            // $("#divMessage").html(data);
                            //$("#divMessage").css("display", "true");
                            alert(data);
                            $("#txtAnswer").val("");
                            $("#txtAnswerTwo").val("");
                            if (question2 != "" || question != "") {
                                //  alert("change flag");
                                checkquestion = true;
                            }
                            // $("#ResetPassword1").css("display", "block");
                            $("#ResetPassword1").css("display", "block");
                        }
                        else if (data == "Answer 2 is an invalid answer") {
                            //  $("#divMessage").html(data);
                            //$("#divMessage").css("display", "true");
                            alert(data);
                            //   alert("question1 is" + question);
                            //   alert("question2 is" + question2);
                            if (question2 != "" || question != "") {
                                //     alert("change flag");
                                checkquestion = true;
                            }
                            $("#txtAnswer").val("");
                            $("#txtAnswerTwo").val("");
                            $("#ResetPassword1").css("display", "block");
                            //    $("#ResetPassword").css("display", "block");

                        }
                        else {
                            //  $("#divMessage").html(data);
                            //$("#divMessage").css("display", "true");
                            alert(data);
                            $("#ResetPassword1").css("display", "block");
                            //  $("#ResetPassword").css("display", "block");
                            window.parent.$('#Forgotpassworddialog').dialog('close');
                            checkquestion = true;
                            question = "";
                            question2 = "";
                            $('#hdid1').val("");
                            $('#hdid').val("");
                            $("#txtAnswer").val("");
                            $("#txtAnswerTwo").val("");
                        }

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        //if error

                        alert('Error : ' + xhr.message);
                    },
                    complete: function (data) {
                        // if completed
                        HideLoader();

                    },
                    async: true,
                    processData: false
                });
            }

            catch (err) {

                if (err && err !== "") {
                    alert(err.message);
                    HideLoader();
                }
            }
        }
        function GetSecurityQuestion() {
            $("#hdid").val("");
            $("#hdid1").val("");
            $("#divAnswerCaption").html("");
            $("#divTxtAnswer").html("");
            $("#divQuestion").html("");
            $("#divQuestionTwo").html("");
            $("#divAnswerCaptionTwo").html("");
            $("#divTxtAnswerTwo").html("");
            $("#ResetPassword").css("display", "none");
            //if (!Reqvalue($('#txtUserName').val()), 'User Name') {
            //    return;
            //}
            checkquestion = false;

            try {

                var Isvalid = false;
                if (($('#txtUserName').val() == "") && ($('#txtemail').val() == "")) {
                    alert("Please enter the access id or email address");
                    // Isvalid = false;
                    Isvalid = false;
                    return Isvalid;
                }
                if ($('#txtUserName').val() != "") {
                    if ($('#txtemail').val() == "") {

                        Isvalid = true;
                    }
                    else {
                        if (!IsValidEmail($.trim($('#txtemail').val()))) {

                            Isvalid = false;
                            return;
                        }
                        else {
                            Isvalid = true;
                        }

                    }


                }

                else {

                    if (!IsValidEmail($.trim($('#txtemail').val()))) {

                        Isvalid = false;
                        return;
                    }
                    else {

                        Isvalid = true;
                    }
                }
                //alert("value:" + Isvalid);


                if (Isvalid) {
                    ShowLoader();

                    var requestData = {

                        UserLogin: $.trim($('#txtUserName').val()),
                        UserEmail: $.trim($('#txtemail').val()),

                    };

                    $.ajax({
                        type: 'POST',
                        url: 'security-question',
                        data: JSON.stringify(requestData),
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            Isvalid = false;
                            // if success
                            // $("#divMessage").hide();
                            $("#listuser").hide();
                            $("#listuserMsg").hide();
                            if (data.html == "" && data.questionTwo == "" && data.flag != false) {
                                checkquestion = true;
                                //  alert("empty");
                                $("#hdid").val(data.userid);
                                $("#divAnswerCaption").html("");
                                $("#divTxtAnswer").html("");
                                $("#divQuestion").html("");
                                $("#divQuestionTwo").html("");
                                $("#divAnswerCaptionTwo").html("");
                                $("#divTxtAnswerTwo").html("");
                                $("#ResetPassword1").css("display", "block");
                                $("#ResetPassword").css("display", "none");
                            }
                            else {
                                //   alert("hi");
                                $("#divQuestion").html(data.html);
                                $("#divQuestionTwo").html(data.questionTwo);
                                $("#ResetPassword1").css("display", "none");
                                if (checkquestion == false) {
                                    if (data == "Invalid Access ID") {
                                        alert(data);
                                    }
                                    else if (data == "Invalid Access ID and Email") {
                                        alert(data);
                                    }
                                    else if (data.html == "" & data.questionTwo != null) {
                                        question2 = data.questionTwo;
                                        // alert("question 2 is valid"+question2);
                                        $("#divAnswerCaptionTwo").html("Answer :");
                                        $("#divTxtAnswerTwo").html('<input type="text" name="txtAnswer" id="txtAnswerTwo" class="txtUser" style="width:200px" />');
                                        $("#ResetPassword").css("display", "block");
                                        checkquestion = true;
                                        $("#hdid").val(data.userid);

                                    }
                                    else if (data.questionTwo == "" & data.html != null) {
                                        question = data.html;
                                        //   alert("question 1 is valid" + question);
                                        $("#hdid").val(data.userid);
                                        $("#divAnswerCaption").html("Answer :");
                                        $("#divTxtAnswer").html('<input type="text" name="txtAnswer" id="txtAnswer" class="txtUser" style="width:200px" />');
                                        $("#ResetPassword").css("display", "block");
                                        checkquestion = true;
                                    }
                                    else if (data.html != 'Invalid Login Id' && data.flag != false) {
                                        $("#hdid").val(data.userid);
                                        //  $('#txtemail').val("");
                                        $("#divAnswerCaption").html("Answer :");
                                        $("#divTxtAnswer").html('<input type="text" name="txtAnswer" id="txtAnswer" class="txtUser" style="width:200px" />');

                                        //alert(data.questionTwo);
                                        //$("#divQuestionTwo").html(data.questionTwo);
                                        $("#divAnswerCaptionTwo").html("Answer :");
                                        $("#divTxtAnswerTwo").html('<input type="text" name="txtAnswer" id="txtAnswerTwo" class="txtUser" style="width:200px" />');
                                        $("#ResetPassword").css("display", "block");
                                        $("#ResetPassword1").css("display", "none");
                                    }
                                    else {
                                        //   alert("hi");
                                        $("#divMessage").hide();
                                        $("#listuser").css("display", "block");
                                        $("#listuserMsg").css("display", "block");
                                        $("#listuser").html(data.htmlretun);
                                        $("#ResetPassword1").css("display", "none");
                                        $("#divAnswerCaption").html("");
                                        $("#divTxtAnswer").html("");
                                        $("#divQuestion").html("");
                                        $("#divQuestionTwo").html("");
                                        $("#divAnswerCaptionTwo").html("");
                                        $("#divTxtAnswerTwo").html("");
                                    }
                                }
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            //if error

                            alert('Error : ' + xhr.message);
                        },
                        complete: function (data) {
                            // if completed
                            HideLoader();

                        },
                        async: true,
                        processData: false
                    });
                }
            }

            catch (err) {

                if (err && err !== "") {
                    alert(err.message);
                    HideLoader();
                }
            }
        }

        function GetSecurityQuestionwithClick(id, email) {

            checkquestion = false;
            $("#divAnswerCaption").html("");
            $("#divTxtAnswer").html("");
            $("#divQuestion").html("");
            $("#divQuestionTwo").html("");
            $("#divAnswerCaptionTwo").html("");
            $("#divTxtAnswerTwo").html("");
            $("#ResetPassword").css("display", "none");
            //  alert("email is" + email + "id is" + id);
            $("#listuser").css("display", "none");
            $("#listuserMsg").css("display", "none");
            $('#hdid1').val(id);
            $('#txtemail').val(email);
            $('#txtUserName').val(id);
            ShowLoader();

            try {
                var requestData = {

                    UserLogin: id,
                    UserEmail: $.trim($('#txtemail').val()),

                };

                $.ajax({
                    type: 'POST',
                    url: 'security-question',
                    data: JSON.stringify(requestData),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        // if success
                        $("#listuser").hide();
                        $("#listuserMsg").hide();
                        if (data.html == "" && data.questionTwo == "" && data.flag != false) {
                            checkquestion = true;
                            //  alert("empty");
                            $("#hdid").val(data.userid);
                            $("#divAnswerCaption").html("");
                            $("#divTxtAnswer").html("");
                            $("#divQuestion").html("");
                            $("#divQuestionTwo").html("");
                            $("#divAnswerCaptionTwo").html("");
                            $("#divTxtAnswerTwo").html("");
                            $("#ResetPassword1").css("display", "block");
                            $("#ResetPassword").css("display", "none");
                        }
                        else {
                            //   alert("hi");
                            $("#divQuestion").html(data.html);
                            $("#divQuestionTwo").html(data.questionTwo);
                            $("#ResetPassword1").css("display", "none");
                            if (checkquestion == false) {
                                if (data == "Invalid Access ID") {
                                    alert(data);
                                }
                                else if (data.html == "" & data.questionTwo != null) {
                                    question2 = data.questionTwo;
                                    //  alert("question 2 is valid" + question2);
                                    $("#divAnswerCaptionTwo").html("Answer :");
                                    $("#divTxtAnswerTwo").html('<input type="text" name="txtAnswer" id="txtAnswerTwo" class="txtUser" style="width:200px" />');
                                    $("#ResetPassword").css("display", "block");
                                    checkquestion = true;
                                    $("#hdid").val(data.userid);

                                }
                                else if (data.questionTwo == "" & data.html != null) {
                                    question = data.html;
                                    alert("question 1 is valid" + question);
                                    $("#hdid").val(data.userid);
                                    $("#divAnswerCaption").html("Answer :");
                                    $("#divTxtAnswer").html('<input type="text" name="txtAnswer" id="txtAnswer" class="txtUser" style="width:200px" />');
                                    $("#ResetPassword").css("display", "block");
                                    checkquestion = true;
                                }
                                else if (data.html != 'Invalid Login Id' && data.flag != false) {
                                    $("#hdid").val(data.userid);
                                    //  $('#txtemail').val("");
                                    $("#divAnswerCaption").html("Answer :");
                                    $("#divTxtAnswer").html('<input type="text" name="txtAnswer" id="txtAnswer" class="txtUser" style="width:200px" />');

                                    //alert(data.questionTwo);
                                    //$("#divQuestionTwo").html(data.questionTwo);
                                    $("#divAnswerCaptionTwo").html("Answer :");
                                    $("#divTxtAnswerTwo").html('<input type="text" name="txtAnswer" id="txtAnswerTwo" class="txtUser" style="width:200px" />');
                                    $("#ResetPassword").css("display", "block");
                                    $("#ResetPassword1").css("display", "none");
                                }
                                else {
                                    //    alert("hi");
                                    $("#divMessage").hide();
                                    $("#listuser").css("display", "block");
                                    $("#listuserMsg").css("display", "block");
                                    $("#listuser").html(data.htmlretun);
                                    $("#ResetPassword1").css("display", "none");
                                    $("#divAnswerCaption").html("");
                                    $("#divTxtAnswer").html("");
                                    $("#divQuestion").html("");
                                    $("#divQuestionTwo").html("");
                                    $("#divAnswerCaptionTwo").html("");
                                    $("#divTxtAnswerTwo").html("");
                                }
                            }
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        //if error

                        alert('Error : ' + xhr.message);
                    },
                    complete: function (data) {
                        // if completed
                        HideLoader();

                    },
                    async: true,
                    processData: false
                });
            }

            catch (err) {

                if (err && err !== "") {
                    alert(err.message);
                    HideLoader();
                }
            }
        }

        function ShowLoader() {

            document.getElementById('loader').style.display = 'block';

        }
        function HideLoader() {


            document.getElementById('loader').style.display = 'none';
        }


    </script>

    <style>
         #Report
        {
            position: absolute;
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-size: 1em;
            width: 99%;
            height: 50px;
            z-index: 1;
            left: 0%;
            top: 9px;
            margin-left: 0px;
            color: #222222
        }
          .txtUser { width:200px; height:20px; border: 1px solid #a6c9e2; border-radius: 4px; background-color:#dde4ff; }
input:focus:hover{
    outline: none;
    box-shadow: 0px 0px 5px #61C5FA;
    
    border-radius:4px;

    
}
    </style>
    <title>@ViewBag.Title</title>
</head>
<body onload="HideLoader();">
         <div id="Report">
             
         <table>
             <tr>
                 <td>Access ID :</td>
                 <td>
                      <input type="text" name="txtUserName" id="txtUserName" class="txtUser" style="width:200px" />
                 </td>
             </tr>
             <tr>
                 <td>OR</td>
             </tr>
             <tr>
                 <td >Email :</td>
                 <td>
                      <input type="text" name="txtemail" id="txtemail" class="txtUser" style="width:200px" />&nbsp;
                     @*<a href="javascript:;" onclick="GetSecurityQuestion();">Get Security Question</a> *@                    
                 </td>
                 <td colspan="2"><img id="loader" src="Content/img/login-loader.gif"  style="display:none;" /></td>
             </tr>
              <tr>
                 <td> &nbsp;</td>
                 <td><a href="javascript:;" onclick="GetSecurityQuestion();">Get Security Questions</a></td>
             </tr>
               <tr>
                 <td> &nbsp;</td>
                <td><a id="ResetPassword1" href="javascript:;" onclick="ResetPassword1();" style="display:none;">Reset Password</a></td>
             </tr>
             <tr>
                 <td> &nbsp;</td>
                 <td><div id="divQuestion"></div></td>
                

             </tr>
             <tr>
                 <td id="divAnswerCaption"></td>
                 <td id="divTxtAnswer"></td>
                
                

             </tr>
                          <tr>
                 <td> &nbsp;</td>
                 <td><div id="divQuestionTwo"></div></td>
                

             </tr>
             <tr>
                 <td id="divAnswerCaptionTwo"></td>
                 <td id="divTxtAnswerTwo"></td>
                
                

             </tr>
             <tr><td></td>
                 <td><a id="ResetPassword" href="javascript:;" onclick="ResetPassword();" style="display:none;">Reset Password</a></td>

             </tr>
             
             <tr>
                 <td colspan="2"><div id="divMessage"></div></td>
                

             </tr>
             <tr>
                 <td colspan="2"><span id="listuserMsg" style="display: none;">Please select the account to reset the password for:</span></td>
             </tr>
         </table>
         </div>
    <input type="hidden" id="hdid" value="" />
     <input type="hidden" id="hdid1" value="" />
    
     <div id="listuser" style="display: block; height: 120px; margin-top:230px;" >

                 </div>
</body>
</html>
