@model AMR.Models.PatientSummaryModel
<table>
                             <tr><td>Member ID:</td><td>@Model.PatientId</td></tr>
                             <tr><td>Full name:</td><td>@Model.FirstName @Model.LastName</td></tr>
                             <tr><td>Sex: </td><td>@Model.Gender</td></tr>
                             <tr><td>Address: </td><td>@Model.MailAddress1</td></tr>
                             <tr><td>Country:</td><td>@Model.CountryName</td></tr>
                             <tr><td>Telephone:</td><td>@Model.HomePhone</td></tr>
                             <tr><td>Alt. Phone:</td><td>@Model.MobilePhone</td></tr>
                             <tr><td>E-mail:</td><td>@Model.EMail</td></tr>
                             <tr><td>Date Of Birth:</td><td>@Model.DOB</td></tr>
                             <tr><td>Height:</td><td>@Model.HeightIn</td></tr>
                             <tr><td>Weight:</td><td>@Model.Weight</td></tr>
                             <tr><td>Hair Color:</td><td>@Model.HairColor</td></tr>
                             <tr><td>Eye Color:</td><td>@Model.EyeColor</td></tr>
                             <tr><td>Blood Type:</td><td>@Model.BloodType</td></tr>
                            
                         </table>