@model IEnumerable<AMR.Models.PatientMedicationModel>
@using System.Web.Script.Serialization;
<table class="box-table-a" id="tbl-SharedMedications" summary="Medications">
                            <thead>
                                <tr>

                                    <th scope="col">Name</th>
                                    <th scope="col">Dosage</th>
                                    <th scope="col">Expiration</th>
                                    <th scope="col">Pharmacy</th>
                                    <th scope="col">Frequency</th>
                                    <th scope="col">Notes</th>
                               </tr>
                            </thead>
                          <tbody>
                  @if (Model != null && Model.Count() > 0)
                                {
                                    int counter = 0;
                                    foreach (var item in Model)
                                    {
                        <tr class="@((counter % 2 == 1) ? "r0" : "r1")">
                            <td>@item.MedicationName</td> 
                            <td>@item.Quantity</td>
                            <td>@item.ExpireDate.ToShortDateString()</td>
                            <td>@item.Pharmacy</td>
                            <td>@item.Frequency</td>
                            <td>@item.Note</td>
                      
                   
                        </tr>  
                                        counter++;
                                    }
                                }
                              else
                        {
                          <tr><td>No Information Available</td></tr>
                        }
                              </tbody>
                            </table>