@using AMR.Models;
@using AMR.Core.Extensions;
@using System.Text;
@using System.Web.Script.Serialization;
@using System.Web.Optimization;
@model ClinicalSummaryViewModel

@{
    ViewBag.Title = "Documents";
    Layout = "~/Views/Shared/_LayoutMasterPage.cshtml";
}

@Styles.Render("~/MedicalPortfolioIndex/css")
@Scripts.Render("~/MedicalPortfolioIndex/jquery")

@section Scripts
{ 
  
    <script>
       
        function shareHideVisit(option) {




            ShowLoader();

            try {

                //alert("Hi Raza");
                /*
                    var requestData = {
                        FacilityName: sList,
                        Viewable: shareHide
                    };
                */

                //alert("Hi Raza," + option);

                var sList = option.split('|')[1] + "|" + option.split('|')[2] + option.split('|')[3];
                var Viewable = StringToBoolean(option.split('|')[0]);
               
                var VisitId = option.split('|')[1];
                var FacilityId = option.split('|')[2];
                var DocumentCntr = option.split('|')[3];
                var DocumentDescription = option.split('|')[4];
                var Notes = option.split('|')[5];
                var requestData = {
                    DocumentCntr: DocumentCntr,
                    VisitId: VisitId,
                    FacilityId: FacilityId,
                    DocumentDescription: DocumentDescription,
                    Notes: Notes,
                    Viewable: Viewable,
                };

                $.ajax({
                    type: 'POST',
                    url: 'doc-visit-share',
                    data: JSON.stringify(requestData),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',

                    success: function (data) {
                        // if success
                        // alert("Success : " + data);


                        $("#HealthCareDataExchange-portlet").empty();
                        $("#HealthCareDataExchange-portlet").html(data);
                        $("#tbl-HealthCareDataExchange").fixedHeaderTable();
                        //$('#chk_1.CheckAll').checked = false;

                        HideLoader();

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        //if error
                        var myCookie = getCookie(".Patient");

                        if (myCookie == null) {
                            // do cookie doesn't exist stuff;
                            alert('Not logged in. Please log in to continue');
                            window.location = '/Login'
                            //xhr.getResponseHeader('Location');
                        }
                        else {

                            alert('Error : ' + xhr.message);
                        }
                        HideLoader();
                    },
                    complete: function (data) {
                        // if completed
                        HideLoader();

                    },
                    async: true,
                    processData: false
                });

            } catch (err) {

                if (err && err !== "") {
                    alert(err.message);
                    HideLoader();
                }
            }
        }
        function ViewVisitRecord(visitId,facilityId)
        {
            chkAccess();
            
            var page1 = '';

            //alert(visitId);

            page1 = "@Url.Action("ClinicalSummaryPrint", "ClinicalSummary")"+"/?visitId=" + visitId + "&facilityId=" + facilityId;

            $('#clinical-print').remove();
            var $dialog = $('<div id="clinical-print" style="width:1000px;"></div>')
                           .html('<div id="page_loader1" style="display: block;"><div id="apDiv1" align="center"><table width="200" border="0" cellspacing="0" cellpadding="0"><tr><td height="70px;">&nbsp;</td></tr><tr><td align="center"><img src="Content/img/image_559926.gif" width="128" height="64" /></td></tr><tr><td style="text-align: center;" height="70px;">Please wait ...</td></tr></table></div></div><iframe id="iframeVisitReport" onload="processingComplete();" style="border: 0px; " src="' + page1 + '" width="100%" height="100%"></iframe>')
                           .dialog({
                               autoOpen: false,
                               show: {
                                   effect: "blind",
                                   duration: 100
                               },
                               hide: {
                                   effect: "blind",
                                   duration: 100
                               },
                               modal: true,
                               height: 600,
                               width: 1050,
                               title: "Print Clinical Summary"
                           });
            $dialog.dialog('open');
        }

    </script>

   
}
<!--1st grid for HealthCareDataExchange records-->
<div id="quicklinks" class="draggable ui-widget-content ui-corner-all" style="position: absolute; top: 20px; left: 3%; width: 94%; height: 70px;display:none;">
        <div id="cart" style="position: absolute; top: 1px; left: 0px; right: 0px;" class="ui-corner-all">
               <input id="hdFlag" type="hidden" value=" " />
            <div class="ui-widget-content" style="position: relative; top: 0px; border: none;">

@*                <button    onclick="ControllMessageCompose();HidevaluecmbMessageType()"id="createmsg"  class="beer ui-button ui-widget ui-state-default ui-corner-all"  style="font-size: 0.9em; font-weight: normal" title="Send Message" type="submit">
                    <img src="Content/img/2.png" />&nbsp;&nbsp;Compose Message</button>

                <button   onclick="ControllAppointment();" id="createappbtn" class="beer ui-button ui-widget ui-state-default ui-corner-all" style="font-size: 0.9em; font-weight: normal" title="Request Appointment" type="submit">
                    <img src="Content/img/3.png" style="margin-left:-7px;" />&nbsp;&nbsp;Appointment Request</button>


                <button id="refillMEd"   onclick="RefillDialog();ControllRefill(); " role="button" aria-disabled="false" class="beer ui-button ui-widget ui-state-default ui-corner-all" style="font-size: 0.9em; font-weight: normal"  title="Refill Medication" type="submit">
                    <img src="Content/img/4.png" />Refill Request</button>

                <button  onclick="ControllReferall();" id="createreqbtn"  class="beer ui-button ui-widget ui-state-default ui-corner-all" style="font-size: 0.9em; font-weight: normal" title="Request Referral" type="submit">
                    <img src="Content/img/1.png" />&nbsp;&nbsp;Referral Request</button>*@
                   @if (@AMR.Core.Utilities.RequestHelper.MyGlobalVar.GeneralMessageAvailable){
                <button    onclick="ControllMessageCompose();HidevaluecmbMessageType()"id="createmsg"  class="beer ui-button ui-widget ui-state-default ui-corner-all"  style="font-size: 0.9em; font-weight: normal" title="Send Message" type="submit">
                    <img src="Content/img/2.png" />&nbsp;&nbsp;Compose Message</button>
                }
                else
                {
                      <button    onclick="ControllMessageCompose();HidevaluecmbMessageType()"id="createmsg"  class="beer ui-button ui-widget ui-state-default ui-corner-all"  style="font-size: 0.9em; font-weight: normal" title="Send Message" disabled="disabled" type="submit">
                    <img src="Content/img/2.png" />&nbsp;&nbsp;Compose Message</button>
                }
                @if (@AMR.Core.Utilities.RequestHelper.MyGlobalVar.AppointmentMessageAvailable)
                {
                <button   onclick="ControllAppointment();" id="createappbtn" class="beer ui-button ui-widget ui-state-default ui-corner-all" style="font-size: 0.9em; font-weight: normal" title="Request Appointment" type="submit">
                    <img src="Content/img/3.png" style="margin-left:-7px;" />&nbsp;&nbsp;Appointment Request</button>
                }
                else
                {
                      <button   onclick="ControllAppointment();" id="createappbtn" class="beer ui-button ui-widget ui-state-default ui-corner-all" style="font-size: 0.9em; font-weight: normal" title="Request Appointment" disabled="disabled" type="submit">
                    <img src="Content/img/3.png" style="margin-left:-7px;" />&nbsp;&nbsp;Appointment Request</button>
                }

                @if (@AMR.Core.Utilities.RequestHelper.MyGlobalVar.MedicationMessageAvailable)
                {
                <button id="refillMEd"   onclick="RefillDialog(); ControllRefill();" role="button" aria-disabled="false" class="beer ui-button ui-widget ui-state-default ui-corner-all" style="font-size: 0.9em; font-weight: normal"  title="Refill Medication" type="submit">
                    <img src="Content/img/4.png" />Refill Request</button>
                }
                else
                {
                     <button id="refillMEd"   onclick="RefillDialog(); ControllRefill();" role="button" aria-disabled="false" class="beer ui-button ui-widget ui-state-default ui-corner-all" style="font-size: 0.9em; font-weight: normal"  title="Refill Medication" disabled="disabled" type="submit">
                    <img src="Content/img/4.png" />Refill Request</button>
                }
              
                  @if (AMR.Core.Utilities.RequestHelper.MyGlobalVar.ReferralMessageAvailable)
                  {
                <button    onclick="ControllReferall();" id="createreqbtn"  class="beer ui-button ui-widget ui-state-default ui-corner-all" style="font-size: 0.9em; font-weight: normal" title="Request Referral" type="submit">
                    <img src="Content/img/1.png" />&nbsp;&nbsp;Referral Request</button>
                  }
                  else
                  {
                     <button    onclick="ControllReferall();" id="createreqbtn"  class="beer ui-button ui-widget ui-state-default ui-corner-all" style="font-size: 0.9em; font-weight: normal" title="Request Referral" disabled="disabled" type="submit">
                    <img src="Content/img/1.png" />&nbsp;&nbsp;Referral Request</button>
                  }
            </div>
        </div>
    </div>
<div id="DocumentsIndex" class="draggable ui-widget-content ui-corner-all" style="position: relative; top: 5px; height: 725px; left: 0px; margin-right:-15px; width: 98.5%;">
                <div id="cart1" style="position: absolute; top: 1px; left: 0px; right: 0px;height:680px;" class="ui-corner-all">
                    <h5 class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix"
                        style="margin-top: -1px; font-weight: bold; padding: 3px;">Documents
                    </h5>
                    <div id="HealthCareDataExchange-portlet" class="ui-widget-content" style="position: relative; top: -9px; border: none;  height:695px; overflow-x: auto;">
                       @Html.Partial("~/Views/Templates/Document/Document_Tab.cshtml",Model.MedicalPortfolioModel)
                    </div>
                </div>
            </div> 
<!--1st grid end-->
<div id="ComposeMessage" title="Compose Message" >
        <input type="hidden" id="hdSentFlag" value=""/><input type="hidden" id="hdReplyMessageId" value=""/>
        <input type="hidden" id="hdAttachmentName" value=""/>
        <input type="hidden" id="hdAttachmentTest" value=""/>
        <input type="hidden" id="hdFacilityId" value="test"/>
        <input type="hidden" id="hdProviderId_To" value=""/>
        <input type="hidden" id="hdMessageRequest" value=""/>
        <input type="hidden" id="hdMessageTypeId" value=""/>
        <input type="hidden" id="hdMessageUrgencyId" value=""/>
        <input type="hidden" id="hdFlag" value=""/>
    <div style="vertical-align:top;">
        <table>
            <tr>
               
                <td><input type="file" id="files" name="file" /><input id="my-simple-upload" type="file" value="" name="MyAttachFile" style="display:none;"/><input type="button" value="Browse..." id="browse" />@*<label id="BrowseName" style="margin-top:-20px;margin-left:100px"></label>*@</td>
                <td><input type="hidden" id="ByteData" value="" "/></td>
                <td><input type="hidden" id="FileBytes" value="" "/></td>
                <td><label id="BrowseName" style="margin-top:-20px;margin-left:60px"></label><input type="button" id="btncancelupload" value="Cancel" style="display: inline-block;margin-top:-1px;height:28px;" /></td>
            </tr>
        </table>
        <div id="progress_bar"><div class="percent">0%</div></div>
         @* <img src="Content/img/attach.gif" width="20px" style="margin-top: 0px; margin-left: -10px; margin-right: 10px;">
       *@ 
       </div>  <br>
        <p>
            @*Please note that you can expect to receive a response within 1 bussiness day*@
        </p>
        <div>
            <table width="705" height="180" border="1" style="border-color: rgb(166, 201, 226);">
                <tr style="border: 1px solid; border-color: rgb(166, 201, 226);">
                    <td height="40" colspan="2">
                        <p style="margin-left: 10px; margin-top: 10px;">
                            <b>Location:</b>
                     
                             @Html.DropDownList("cmbAppointmentFacility", Model.MessageFacilities.ToFacilityModelWithoutPatientEnteredSelectList(), new { @class = " txt  ui-corner-all bcom", style = "width:400px; margin-left:33px;", id = "cmbAppointmentFacility", @onchange = "LoadFacilityProviderSendMessage();" })
                                <span id="apDiv9" ><img id="loader1" src="Content/img/login-loader.gif"  style="margin-left:530px;  margin-top:-30px; display:none;" /></span>
                        </p>
                    </td>
                </tr>
                <tr style="border: 1px solid; border-color: rgb(166, 201, 226);">
                    <td height="40" colspan="2">
                        <p style="margin-left: 10px; margin-top: 10px;">
                            <b>To:</b>
                              <div id="DivLoadFacilityProviderSendMessage" style="margin-top:-30px;">
                             @Html.Partial("_FacilityProviderSendMessage", Model.Providers)
                             @* @Html.DropDownList("cmbAppointmentDoctor", Model.Providers.ToProviderModelSelectList(), new { @class = "txt  ui-corner-all bcom", style = "width:405px; margin-left:72px;", id = "cmbAppointmentDoctor" })*@
                                 </div>
                        </p>
                    </td>
                </tr>
                <tr style="border: 1px solid; border-color: rgb(166, 201, 226);">
                    <td height="40" colspan="2">
                        <p style="margin-left: 10px; margin-top: 10px;">
                            <b>Subject:</b>
                             @Html.DropDownList("cmbMessageType", Model.MessageType.ToMessageTypeModelSelectList(), new { @class = "txt  ui-corner-all bcom", style = "width:403px; margin-left:45px;", id = "cmbMessageType" })

                        </p>
                    </td>
                </tr>
                <tr style="border: 1px solid; border-color: rgb(166, 201, 226);">
                    <td height="40" colspan="2">
                        <p style="margin-left: 10px; margin-top: 10px;">
                           <b>Urgent:</b>
                               <select id="cmbMessageUrgency" class="txt" style="width:90px; margin-left:47px;">
                     
                      
                      <option value="false" selected="selected">No</option><option value="true">Yes</option>
</select>  
                         @*    @Html.DropDownList("cmbMessageUrgency", Model.MessageUrgencyType.ToMessageUrgencySelectList(), new { @class = "txt  ui-corner-all bcom", style = "width:170px; margin-left:20px;", id = "cmbMessageUrgency" })*@
                            @* <select style="margin-left: 0px; margin-top: -15px; width: 100px;" class="txt">
                                <option>Arial</option>
                            </select>
                            <select style="margin-left: 0px; margin-top: -15px; width: 70px;" class="txt">
                                <option>12</option>
                            </select>
                            <button>
                                <img src="Content/img/bold.png" width="20px"></button>
                            <button>
                                <img src="Content/img/italic.png" width="20px"></button>
                            <button>
                                <img src="Content/img/underline.png" width="20px"></button>*@
                        </p>
                    </td>
                </tr>
                <tr style="border: 1px solid; border-color: rgb(166, 201, 226);">
                    <td height="150" colspan="2" bgcolor="#FFFFFF"> 
                   <textarea id="txtMessageWrite" class="txt" rows="5" cols="45" style="height:150px; width:685px;" maxlength="256"> </textarea>
                    </td>
                </tr>
                   <tr><td><div id="counter" style="text-align:right;"></div></td></tr>
            </table>
        </div>
    </div>
<div id="appbtn-form" title="Appointment Request">
    <center>  <span   class="validateTips"></span></center>
    <table width="100%" height="433" border="0
        " cellpadding="0" cellspacing="2">
        <tr>
            <td width="250" height="35" align="right">Location :</td>
            <td width="2">&nbsp;</td>
            <td colspan="2">
          
                @Html.DropDownList("cmbAppointmentFacility1", Model.MessageFacilities.ToFacilityModelWithoutPatientEnteredSelectList(), new { @class = "txt  ui-corner-all bcom", style = "width:400px;", id = "cmbAppointmentFacility1", @onchange = "LoadFacityProvider();" })
                <span id="apDiv9">

    

</span>
            </td>
        </tr>
        <tr>
            <td width="250" height="35" align="right">Provider :</td>
            <td align="right">&nbsp;</td>
            <td colspan="2">
                <div id="DivFacityProvider">
                @Html.Partial("_FacilityProvider", Model.Providers)
                @*@Html.DropDownList("cmbAppointmentDoctor1", Model.Providers.ToProviderModelSelectList(), new { @class = " txt  ui-corner-all bcom", style = "width:400px;", id = "cmbAppointmentDoctor1" })*@
            </div>
                    </td>
        </tr>
        <tr>
              <td  ><div style="float:right;margin-Top:4px;">Urgent :</div></td>
                    <td align="right">&nbsp;</td>
                        <td  colspan="2">
                            <select id="cmbMessageUrgency1" class="txt" style="width:90px">
                     @* <option value="-1">--Select--</option>*@
                      
                      <option value="false" selected="selected">No</option><option value="true">Yes</option>
</select>    
                            @*<div style="margin-left:0px;">
                              @Html.DropDownList("cmbMessageUrgency1", Model.MessageUrgencyType.ToMessageUrgencySelectList(), new { @class = "txt  ui-corner-all bcom", style = "width:150px; ", id = "cmbMessageUrgency1" })
                          </div>*@
                        </td>
        </tr>
        <tr>
            <td width="250"  align="right" style="padding-top:7px;" valign="Top">Preferred Time of Day :</td>
            <td>&nbsp;</td>
            <td colspan="2">
                <table width="439" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                         <td >
                            <input type="checkbox" name="mor_chk" id="chkmor" style=""/></td>
                        <td width="50"><div style="margin-left:5px;margin-Top:4px;">Morning</div></td>
                        <td width="21">
                            <input type="checkbox" name="aft_chk" id="chkAft" style="margin-left:10px;"/></td>
                        <td width="68"  ><div style="margin-left:5px;margin-Top:4px;">Afternoon</div></td>
                        <td width="21">
                            <input type="checkbox" name="eve_chk" id="chkeve" style="margin-left:10px;" /></td>
                        <td width="84"  ><div style="margin-left:5px;margin-Top:4px;">Evening</div></td>
                        <td width="61"  ><div style="margin-left:15px;margin-Top:4px;"></div></td>
                        <td width="119">
                            <div style="margin-left:3px;">
                             @* @Html.DropDownList("cmbMessageUrgency1", Model.MessageUrgencyType.ToMessageUrgencySelectList(), new { @class = "txt  ui-corner-all bcom", style = "width:150px; margin-left:20px;", id = "cmbMessageUrgency1" })*@
                          </div>
                        </td>
                    </tr>
                </table>
                <label for="urg_com"></label>
            </td>
        </tr>
        <tr>
            <td width="250" valign="Top" style="padding-top:7px;" align="right">Preferred Day :</td>
            <td>&nbsp;</td>
            <td colspan="2">
                <table width="445" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                 <td >
                            <input type="checkbox" name="mon_chk" id="chkmon" style="" /></td>
                        <td ><div style="margin-left:2px;margin-top:4px;">Monday</div></td>
                        <td >
                            <input type="checkbox" name="tue_chk" id="chktue" style="margin-left:10px;"/></td>
                        <td ><div style="margin-left:2px;margin-top:4px;"">Tuesday</div></td>
                        <td >
                            <input type="checkbox" name="wed_chk" id="chkwed" style="margin-left:10px;"/></td>
                        <td ><div style="margin-left:2px;margin-top:4px;"">Wednesday</div></td>
                        <td >
                            <input type="checkbox" name="thu_chk" id="chkthu" style="margin-left:10px;"/></td>
                        <td ><div style="margin-left:2px;margin-top:4px;"">Thursday</div></td>
                        
                    </tr>
                    <tr>
<td >
                            <input type="checkbox" name="fri_chk" id="chkfri" /></td>
                        <td ><div style="margin-left:2px;margin-top:4px;">Friday</div></td>
                        <td >
                            <input type="checkbox" name="fri_chk" id="chksat" style="margin-left:10px;"/></td>
                        <td ><div style="margin-left:2px;margin-top:4px;">Saturday</div></td>
                        <td >
                            <input type="checkbox" name="fri_chk" id="chksun" style="margin-left:10px;"/></td>
                        <td ><div style="margin-left:2x;margin-top:4px;">Sunday</div></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td width="250" height="35" align="right">Preferred Date Range :</td>
            <td>&nbsp;</td>
            <td colspan="2">
                <table width="367" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="118">
                            <input type="text" name="pref_txt" id="txtPrefDateFrom" class="com" /></td>
                        <td>    <img id="show-date-PreferedStart" src="Content/img/calender.png" style="margin-top:-3px; cursor:pointer; margin-left:-15px;"/></td>
                        <td width="19">&nbsp;</td>
                        <td width="19">&nbsp;</td>
                        <td width="216">
                            <input type="text" name="pref_txt" id="txtPrefDateTo" class="com" /></td>
                        <td>    <img id="show-date-PreferredEnd" src="Content/img/calender.png" style="margin-top:-3px; cursor:pointer; margin-left:-105px;"/></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td width="250" height="35" align="right">Preferred Time: </td>
            <td>&nbsp;</td>
            <td colspan="2">
                <select name="preft_com" id="cmbPreftime" class="com">
                      <option value="-1">--select--</option>                    
  <option value="7">7:00 am</option>
  <option value="8">8:00 am</option>
  <option value="9">9:00 am</option>
  <option value="10">10:00 am</option>
  <option value="11">11:00 am</option>
  <option value="12">12:00 pm</option>
  <option value="13">1:00 pm</option>
  <option value="14">2:00 pm</option>
  <option value="15">3:00 pm</option>
  <option value="16">4:00 pm</option>
  <option value="17">5:00 pm</option>
  <option value="18">6:00 pm</option>
 <option value="19">7:00 pm</option>
  <option value="20">8:00 pm</option>
                </select>
                
            </td>
        </tr>
        <tr>
            <td width="250" height="33" align="right">Reason for Visit :</td>
            <td>&nbsp;</td>
            <td colspan="2">
                <input type="text" name="reas_txt" id="txtReason" class="btxt" /></td>
        </tr>
        <tr>
            <td width="250" align="right">Comments :</td>
            <td>&nbsp;</td>
            <td colspan="2">
                <textarea name="comm_txta" cols="45" rows="5" class="btxta" id="txtComment" maxlength="256"></textarea></td>
        </tr>
         <tr>
            
            <td colspan="3" align="right"><div id="appcount"></div></td>
        </tr>


    </table>

</div>
<div id="dialog-refill" title="Refill Request">
    <center>  <span   class="validateTips"></span></center>
    <table border="0" width="100%" height="300px">
        <tr>
            <td width="30%" height="40"><span class="form_text" style="color: #000066;">Location:</span></td>
            <td>

                  @Html.DropDownList("cmbAppointmentFacilityRefill", Model.MessageFacilities.ToFacilityModelWithoutPatientEnteredSelectList(), new { @class = "txt  ui-corner-all bcom", style = "width:400px;", id = "cmbAppointmentFacilityRefill", @onchange = "LoadFacityProviderRefil();LoadRefilmediaction();" })
    

            </td>
        </tr>
        <tr>
            <td width="30%" class="form_text" style="color: #000066;">Doctor: </td>
            <td>
                <div id="refildiv">
                @Html.Partial("_CmbRefildoctorDropDown", Model.Providers)
                    </div>

           @*    @Html.DropDownList("cmbDoctor", Model.Providers.ToProviderModelSelectList(), new { @class = " txt  ui-corner-all", style = "width:200px;", id = "cmbDoctor" })*@

            </td>
        </tr>
        <tr>
            <td width="30%" height="40"><span class="form_text" style="color: #000066;">Medication:</span></td>
            <td>
                <div id="refilmed">
                @Html.Partial("_Index_RefillMedication", Model.Medications)
                    </div>
            </td>
        </tr>


        

        <tr>
            <td width="30%" class="form_text" style="color: #000066;">Number of Refills: </td>
            <td>
                <input type="text" name="txtCountRefills" id="txtCountRefills" class="txt ui-corner-all" />
            </td>
        </tr>
        <tr>
            <td width="30%" class="form_text" style="color: #000066;">Pharmacy: </td>
            <td>
                <table>
<tr><td>
<div id="cmbPharmacy">

          
                 @Html.Action("RefillPharmacypartialview", "Home", new { @class = "txt  ui-corner-all", style = "width:200px;", id = "cmbRFPharmacy"  })
              
 </div>
</td>
<td><span><img  src="Content/img/add.png" />
<span id="addPharmacy" class="anc" onclick="OpenPharmacyDialoge();" style="font-size: 13px; padding-right: 17px;">Add</span></span>
</td>
</tr>
</table>
               <div > </div> <div id="PharmAddress" style="color:red;"></div><div><input type="hidden" id="Phone" value="" /></div>
            </td>
            
        </tr>

        <tr>
            <td width="30%" class="form_text" style="color: #000066;">Comments: </td>
            <td>
                <textarea multiline="true" style="height: 96px; width: 453px;" id="txtComments" rows="3" cols="5" class="txt  ui-corner-all" maxlength="256"></textarea>
            </td>
        </tr>
         <tr>
            
            <td colspan="3" align="right"><div id="refillcount"></div></td>
        </tr>


    </table>

</div>
<div id="reqbtn-form" title="Referral Request">
    <table width="100%" border="0" cellpadding="0" cellspacing="2">
        <tr>
            <td width="250" height="35" align="right">Location :</td>
            <td width="2">&nbsp;</td>
            <td width="571">
               
                   @Html.DropDownList("cmbAppointmentFacility3", Model.MessageFacilities.ToFacilityModelWithoutPatientEnteredSelectList(), new { @class = "txt  ui-corner-all bcom", style = "width:400px;", id = "cmbAppointmentFacility3", @onchange = "LoadFacilityProviderRequestRefferal();" })
         <span id="apDiv9">

    <img id="loader4" src="Content/img/login-loaderwhite.gif" style="margin-left: 420px; margin-top: -30px; display: none;"></img>

</span>
            </td>
        </tr>

        <tr>
            <td width="250" height="35" align="right">Send Request to :</td>
            <td width="2">&nbsp;</td>
            <td width="571">
                
                  <div id="DivFacilityProviderRequestRefferal">
                @Html.Partial("_FacilityProviderRequestRefferal", Model.Providers)
                
            </div>
                   @*@Html.DropDownList("cmbRProvider", Model.Providers.ToProviderModelSelectList(), new { @class = " txt  ui-corner-all bcom", style = "width:400px;", id = "cmbRProvider" })*@
         </td>
        </tr>
        <tr>
            <td width="250" height="35" align="right">Reason for Referral :</td>
            <td align="right">&nbsp;</td>
            <td>
                <input type="text" name="reas_txt3" id="txtReqRes" class="btxt" /></td>
        </tr>
        <tr>
            <td width="250" height="35" align="right">Comments :</td>
            <td>&nbsp;</td>
            <td>
                <textarea name="comm_txta2" cols="45" rows="5" class="btxta" id="txtRComm" maxlength="256"></textarea></td>
        </tr>
         <tr>
            
            <td colspan="3" align="right">
                <div id="referallcount"></div>

            </td>
        </tr>
       
    </table>


</div>
<div id="dialog-pharmacy" title="Add a Pharmacy">
           
    <table border="0" width="100%">

        <tr>
            <td align="right" width="140px;"><span style="color:red;"  >*</span><span class="form_text"  >Pharmacy Name : </span></td>
            <td>
                <input type="hidden" id="txtPharmID" value="0" />
                <input type="text" name="name" id="txtPharmacyName" class="txt ui-corner-all" style="width: 240px;"/>
            </td>
        </tr>
           <tr>
        <td align="right"><span style="color:red;"  >*</span><span class="form_text" >Address Line 1 : </span> </td>
                <td>
                <input type="text" name="name" id="txtPharmAddress1" style="width: 240px;" class="txt ui-corner-all" />
            </td>
        </tr>
        <tr>
            <td align="right"><span class="form_text" >Address Line 2 : </span></td>
           
            <td>
                <input type="text" name="name" id="txtPharmAddress2" style="width: 240px;" class="txt ui-corner-all" /></td>
        </tr>
            <tr>
            <td align="right"><span style="color:red;"  >*</span><span class="form_text" >City : </span></td>
           
            <td>
                <input type="text" name="name" id="txtPharmCity" class="txt ui-corner-all" width="150px;" /></td>
          
        </tr>

            <tr>
            <td align="right"><span style="color:red;"  >*</span><span class="form_text" >State : </span></td>
           
           <td>
                @*<input type="text" name="name" id="txtPharmState" class="txt ui-corner-all" />*@
               <select style="visibility: visible;" class="coms" name="state" id="cmbStates" tabindex="11">
									
										<option value="AL">AL</option>
									
										<option value="AK">AK</option>
									
										<option value="AS">AS</option>
									
										<option value="AZ">AZ</option>
									
										<option value="AR">AR</option>
									
										<option value="AA">AA</option>
									
										<option value="AE">AE</option>
									
										<option value="AP">AP</option>
									
										<option value="CA">CA</option>
									
										<option value="CO">CO</option>
									
										<option value="CT">CT</option>
									
										<option value="DE">DE</option>
									
										<option value="DC">DC</option>
									
										<option value="FL">FL</option>
									
										<option value="GA">GA</option>
									
										<option value="GU">GU</option>
									
										<option value="HI">HI</option>
									
										<option value="ID">ID</option>
									
										<option value="IL">IL</option>
									
										<option value="IN">IN</option>
									
										<option value="IA">IA</option>
									
										<option value="KS">KS</option>
									
										<option value="KY">KY</option>
									
										<option value="LA">LA</option>
									
										<option value="ME">ME</option>
									
										<option value="MH">MH</option>
									
										<option value="MD">MD</option>
									
										<option value="MA">MA</option>
									
										<option value="MI">MI</option>
									
										<option value="FM">FM</option>
									
										<option value="MN">MN</option>
									
										<option value="MS">MS</option>
									
										<option value="MO">MO</option>
									
										<option value="MT">MT</option>
									
										<option value="NE">NE</option>
									
										<option value="NV">NV</option>
									
										<option value="NH">NH</option>
									
										<option value="NJ">NJ</option>
									
										<option value="NM">NM</option>
									
										<option value="NY">NY</option>
									
										<option value="NC">NC</option>
									
										<option value="ND">ND</option>
									
										<option value="MP">MP</option>
									
										<option value="OH">OH</option>
									
										<option value="OK">OK</option>
									
										<option value="OR">OR</option>
									
										<option value="PW">PW</option>
									
										<option value="PA">PA</option>
									
										<option value="PA">PA</option>
									
										<option value="PR">PR</option>
									
										<option value="RI">RI</option>
									
										<option value="SC">SC</option>
									
										<option value="TN">TN</option>
									
										<option value="TX">TX</option>
									
										<option value="UT">UT</option>
									
										<option value="VT">VT</option>
									
										<option value="VI">VI</option>
									
										<option value="VA">VA</option>
									
										<option value="WA">WA</option>
									
										<option value="WV">WV</option>
									
										<option value="WI">WI</option>
									
										<option value="WY">WY</option>
									
										<option value="SD">SD</option>
									
								</select>
            </td>
        </tr>

        <tr>
            <td align="right"><span style="color:red;"  >*</span><span class="form_text" >Zip Code : </span></td>
           
          <td>
                <input type="text" name="name" id="txtPharmZipCode" class="txt ui-corner-all" style="width: 100px;" />
            </td>
        </tr>


          <tr>
            <td align="right"><span class="form_text" >Phone : </span></td>
           
          <td>
                <input type="text" name="name" id="txtPhone" style="width: 190px;" class="txt ui-corner-all" />
            </td>
        </tr>
           <tr>
            <td align="right"><span class="form_text" >Website : </span></td>
           
          <td>
       <input type="text" name="name" id="txtWebsite" style="width: 240px;" class="txt ui-corner-all" />
            </td>
        </tr>



      
        
    </table>

  
    <table style="margin-top: -15px;">
        <tr>
          
        </tr>
        
    </table>

 
    <h3 style="margin-top: 25px; color: rgb(29, 89, 135); font-size: 22px;">Preferred Pharmacy</h3>
    <table>
        <tr>
            <td width="30%"><span class="form_text">
                <input name="chk" type="checkbox" value="" id="chkPref">
            </span></td>
            <td width="-20%"><span class="form_text" style="margin-left: -80px; color: #9B9B9B;">Would you like to make this your preferred pharmacy?</span> </td>
        </tr>
    </table>
</div>