@model IEnumerable<AMR.Models.ImmunizationModel>
@using System.Text;
@using System.Web.Script.Serialization;


<table class="box-table-a" id="tab-Immunization" summary="Appointments">
                                        <thead>
                                            <tr>
                                                <th scope="col" width="20%">Date</th>
                                                <th scope="col">Vaccine Administered</th>
                                                <th scope="col" style="text-align:center;" class="showHideThisImmunization">Edit</th>
                                                <th scope="col" style="text-align:center;">Details</th>
                                                <th scope="col" style="text-align:center;" class="showHideThisImmunization">Delete</th>
                                                    

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null && Model.Count() > 0)
                                            {
                                                int counter=0;
                                                foreach (var item in Model)
                                                {
                                                    StringBuilder jsonStringImmunization = new StringBuilder();


                                                    jsonStringImmunization.Append(" { ");
                                                    jsonStringImmunization.Append("\"PatientImmunizationCntr\": \"" + item.PatientImmunizationCntr + "\",");
                                                    jsonStringImmunization.Append("\"ImmunizationDate\": \"" + item.ImmunizationDate + "\",");
                                                    jsonStringImmunization.Append("\"Time\": \"" + item.Time + "\",");
                                                    jsonStringImmunization.Append("\"Vaccine\":  \"" + (item.Vaccine) + "\",");
                                                    jsonStringImmunization.Append("\"CodeValue\": \"" + item.CodeValue + "\",");
                                                    jsonStringImmunization.Append("\"ImmunizationDate\": \"" + item.ImmunizationDate + "\",");
                                                    jsonStringImmunization.Append("\"Amount\":  \"" + (item.Amount) + "\",");
                                                    jsonStringImmunization.Append("\"Note\": \"" + item.Note + "\",");
                                                    jsonStringImmunization.Append("\"Route\": \"" + item.Route + "\",");
                                                    jsonStringImmunization.Append("\"Site\":  \"" + (item.Site) + "\",");
                                                    jsonStringImmunization.Append("\"Sequence\": \"" + item.Sequence + "\",");
                                                    jsonStringImmunization.Append("\"ExpirationDate\": \"" + item.ExpirationDate.ToShortDateString() + "\",");
                                                    jsonStringImmunization.Append("\"LotNumber\":  \"" + (item.LotNumber) + "\",");
                                                    jsonStringImmunization.Append("\"Manufacturer\":  \"" + (item.Manufacturer) + "\"");
                                                    jsonStringImmunization.Append("}");
                                                
                                                    <tr class="@((counter % 2 == 0) ? "r1" : "r0")">
                                                    <td><input type="hidden" id="@(item.PatientImmunizationCntr)" value="@jsonStringImmunization.ToString()" />@item.ImmunizationDate</td>   
                                                    <td>@item.Vaccine</td>
                                                    <td align="center" class="showHideThisImmunization">  <img onclick="immunizationEdit(@item.PatientImmunizationCntr);"   src="Content/img/edit.png" /> </td>
                                                    <td align="center">  <img  onclick="immunizationDetails(@item.PatientImmunizationCntr); "   src="Content/img/details.png" />  </td>
                                                    <td align="center" class="showHideThisImmunization">  <img  onclick="immunizationDelete(@item.PatientImmunizationCntr); "   src="Content/img/delete.png" />  </td>

                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                             <tr>
                                <td width="200px;">No Information Available.</td>
                            </tr>    
                                            }
                                        </tbody>
</table>


