@model IEnumerable<AMR.Models.VisitModel>
@using System.Text;
@using System.Web.Script.Serialization;


<table class="box-table-a" id="tab-visit" summary="Appointments">
                                        <thead>
                                            <tr>
                                                <th scope="col">Date</th>
                                                <th scope="col">Visit Reason</th>
                                                <th scope="col">Provider</th>
                                                <th scope="col">Location</th>
                                                <th scope="col" style="text-align:center;">Details</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null && Model.Count()>0)
                                            {
                                                int counter=0;
                                                foreach (var item in Model)
                                                {
                                                    StringBuilder jsonVisitString = new StringBuilder();

                                                    jsonVisitString.Append("{");
                                                    jsonVisitString.Append("\"VisitID\": \"" + item.VisitID + "\",");
                                                    jsonVisitString.Append("\"ProviderName\": \"" + item.ProviderName + "\",");
                                                    jsonVisitString.Append("\"VisitDate\":  \"" + item.VisitDate.ToShortDateString() + "\",");
                                                    jsonVisitString.Append("\"VisitReason\":  \"" + item.VisitReason + "\",");
                                                    jsonVisitString.Append("\"FacilityName\":  \"" + item.FacilityName + "\"");
                                                    jsonVisitString.Append("}");
                                             
                                                   
                                                     <tr class="@((counter % 2 == 0) ? "r1" : "r0")">
                                                        <td><input type="hidden" id="@(item.VisitID)" value="@jsonVisitString.ToString()" />@item.VisitDate.ToShortDateString()</td>
                                                  
                                                        <td width ="330px">@item.VisitReason </td>
                                                        <td>@item.ProviderName</td>
                                                        <td>@item.FacilityName</td>
                                                        <td align="center">  <img  onclick="visitDetails(@item.VisitID); "   src="Content/img/details.png" />  </td>
                                                    </tr>
                                                    counter++;
                                                }
                                            }
                                            else
                                            {
                                              <tr>
                                <td width="200px;">No Information Available.</td>
                            </tr>
                                            }
                                        </tbody>
</table>
