@model IEnumerable<AMR.Models.GeneralDocumentModel>
@using System.Web.Script.Serialization;

<table class="box-table-a" id="tbl-GeneralDocuments" summary="GeneralDocuments">
                            <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Upload Date</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Comments</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Permissions</th>
                                        <th scope="col" style="width:40px;">Edit</th>
                                        <th scope="col" style="width:40px;">Delete</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyGeneralDocumentList">
                                    @if (Model != null && Model.Count() > 0)
                                    {
                                        int counter = 0;
                                        foreach (var item in Model)
                                        {
                                            var jsonString = new JavaScriptSerializer().Serialize(item);
                                                                        
		                                    <tr @((counter % 2 == 0) ? "class=r1" : "class=r0")>
                                                     
                                                <td>
                                                    <input type="hidden" id="@item.DocumentCntr" value="@jsonString"/>
                                                </td>       
                                                <td>@item.DateCreated.ToString("MM/dd/yyyy")</td>
                                                <td><span class="LinkHighlight hoverMe" onclick="ViewGDocumentAttachment('@(item.DocumentCntr+"|"+item.DocumentFormat)');"> @((item.DocumentDescription.Length >22)?item.DocumentDescription.Substring(0,22) + "..." : item.DocumentDescription) </span></td>
                                                <td>@((item.Notes.Length > 22) ? item.Notes.Substring(0, 22) + "..." : item.Notes)</td>
                                                <td>@((item.Viewable)? "Shared":"Hidden")</td>
                                                <td><span class="LinkHighlight hoverMe" onclick="shareHideGeneralDocument('@((item.Viewable) ? ("0|" + item.DocumentCntr) : ("1|" + item.DocumentCntr))');"><img src='@((item.Viewable)? "Content/img/hide.png" : "Content/img/share.png")'/>  @((item.Viewable) ? "Hide" : "Share") </span></td>
                                                <td align="center">
                                                    <img onclick="OpenEditGeneralDocumentForm('@item.DocumentCntr');" id="imgEditGDoc"  src="@Url.Content("~/Content/img/edit.png")" />
                                                </td>
                                                <td align="center">
                                                    <img onclick="deleteGDocument('@item.DocumentCntr');" id="imgDeleteGDoc"  src="@Url.Content("~/Content/img/delete.png")" />
                                                </td>
                                                    
                                            </tr>
                                            counter++;
                                        }
                                    }
                                    else
                                    {
                                        <tr><td></td><td>No Information Available</td></tr> 
                                    }
                                </tbody>    
</table>

