@using AMR.Models;
@using AMR.Core.Extensions;
@using AMR.Core.Utilities;
@using System.Text;
@model HomeViewModel
@{
    ViewBag.Title = "[Patient Portal] Login";
    Layout = null;
    
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title </title>
    <link rel="stylesheet" href="@Url.Content("~/Content/css/themes/redmond/jquery-ui.css")" />
    <link href="@Url.Content("~/Content/css/themes/redmond/jquery-ui-1.10.3.custom.css")" rel="stylesheet">
   
    <script src="@Url.Content("~/Content/css/ui/jquery.ui.core.js")"></script>
	<script src="@Url.Content("~/Content/css/ui/jquery.ui.widget.js")"></script>
	<script src="@Url.Content("~/Content/css/ui/jquery.ui.accordion.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery-1.9.1.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery-1.9.2.custom.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery-ui.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.maskedinput-1.2.2.js")"></script>
    <script src="@Url.Content("~/Content/js/validator.js")"></script>
    <link href="~/Content/css/table-style.css" rel="stylesheet" />
    <link href="~/Content/css/login.css" rel="stylesheet" />
    <style type="text/css">

      
       
</style>
    <script>
        
        
      
     $(function () {
            $("#AlreadyLog").dialog({
                autoOpen: false,
                show: {
                    effect: "blind",
                    duration: 100
                },
                hide: {
                    effect: "blind",
                    duration: 100
                },

                width: 700,
                modal: true,
                buttons: {
                    "Return to login screen": function () {
                        $(this).dialog("close");
                    },
                    "Log out the other user": function () {
                        //$(this).dialog("close");
                        window.location = '/logout';
                    }
                },
                close: function () {
                    //allFields.val("").removeClass("ui-state-error");
                }
            });
     })
     $(function () {
         $("#LoginLockedialoge").dialog({
             autoOpen: false,
             show: {
                 effect: "blind",
                 duration: 100
             },
             hide: {
                 effect: "blind",
                 duration: 100
             },

             width: 700,
             modal: true,
             buttons: {
                 "Close": function () {
                     $("#LoginLockedialoge").dialog("close");
                 }
                 
                 
             },
             close: function () {
                 //allFields.val("").removeClass("ui-state-error");
             }
         });
     })

     </script>
     
     @{
                                        if (Model != null)
                                        {
                                       //@Model.CurrentUser.ErrorMessage
                                        <script type="text/javascript">
                                            $(document).ready(function () {
                                             
                                                var model = @Html.Raw(Json.Encode(@Model.CurrentUser)) ;
                     
                                                if(model.RoleName == "Logout")
                                                {
                                                    $('#err-msg').text(model.ErrorMessage);
                                                    $("#AlreadyLog").dialog("open");
                                                }
                                                else
                                                {
                                                    if(model.ErrorMessage =="Login Is Locked")
                                                    {
                                                        $("#LoginLockedialoge").dialog("open");
                                                    }
                                                    else
                                                    {
                                                        alert(model.ErrorMessage);
                                                    }
                                                }
                                            });
                                            // window.location = '/';
                                        </script>
                                        }
                                    }
    <script lang="JavaScript" type="text/javascript">

        function isEmpty(field, strng) {
            var error = "";
            if (strng.length == 0) {
                error = "Please enter a value for " + field + ".\n";
            }
            return error;
        }

        function validatepass1() {
            ShowLoader();
            var why = "";

            why += isEmpty('Access ID', form2.userlogin.value);
            why += isEmpty('Password', form2.password.value);

            if (why != "") {
                alert(why);
                HideLoader();
                return false;
            }
           
            return true;
        }

        function ShowLoader() {
            
            document.getElementById('loader').style.display = 'block';
           
        }
        function HideLoader() {
            
           
            document.getElementById('loader').style.display = 'none';
        }

        function ShowLoader1() {
            var body_height = parseInt($('body').height());
            $('#page_loader1').css('height', 'auto');
            document.getElementById('page_loader1').style.display = 'block';
        }
        function HideLoader1() {
            document.getElementById('page_loader1').style.display = 'none';
        }

     

        function myFunction() {
            // var src = top.document.getElementById("AneelIframe").src;
            var src = $.trim($('#AneelIframe').contents().html);
            alert(src);
        }
        function OpenSignup() {
           
            var page1,page = '';
          
            page1 = '@Url.Action("SignUp", "Home")';
            window.location = page1;
          
            $('#Signupdialog').remove();
         

            //var $dialog = $('<div id="Signupdialog" style="width:500px; "></div>')
            //               .html('<iframe id="AneelIframe"  style="border: 0px;  " src="' + page1 + '" width="100%" height="100%"></iframe>')
            //               .dialog({
            //                   autoOpen: false,
            //                   show: {
            //                       effect: "blind",
            //                       duration: 1000
            //                   },
            //                   hide: {
            //                       effect: "blind",
            //                       duration: 1000
            //                   },
            //                   modal: true,
            //                   height: 650,
            //                   width: 1000,
            //                   title: "Patient Portal Registration",
            //                   buttons: {
            //                       //    "Next": function () {

            //                       //        //ShowLoader1();

            //                       //        // Save routine and call of Action

            //                       //        var bValid = true;
            //                       //        if (!Reqvalue($.trim($('iframe').contents().find('#txtFname').val()), 'First Name')) {
            //                       //            return;
            //                       //        }

            //                       //        if (!Reqvalue($.trim($('iframe').contents().find('#txtAdd').val()), 'Address')) {
            //                       //            return;
            //                       //        }
            //                       //        if (!Reqvalue($.trim($('iframe').contents().find('#txtCity').val()), 'City')) {
            //                       //            return;
            //                       //        }
            //                       //        if (!Reqvalue($.trim($('iframe').contents().find('#txtZipcode').val()), 'Zip Code')) {
            //                       //            return;
            //                       //        }
            //                       //         if (!checkEmail($.trim($('iframe').contents().find('#txtemail').val()))) {
            //                       //            return;
            //                       //        }
            //                       //         if ($.trim($('iframe').contents().find('#txtemail').val()) != $.trim($('iframe').contents().find('#txtconemail').val())) {
            //                       //             alert('Please Enter Corrrect Email Address in confirm email')
            //                       //             return;
            //                       //         }
            //                       //         if ($('iframe').contents().find('#chkterms').prop('checked') == false) {
            //                       //             alert('Please Accept Terms & Conditions');
            //                       //             return
            //                       //         }




            //                       //        if (bValid) {
            //                       //            // Save routine and call of Action

            //                       //            try {
            //                       //                var requestData = {
            //                       //                    Title: $.trim($('iframe').contents().find('#cmbName').val()),
            //                       //                    FirstName: $.trim($('iframe').contents().find('#txtFname').val()),
            //                       //                    MiddleName:  $.trim($('iframe').contents().find('#txtMname').val()),
            //                       //                    LastName:  $.trim($('iframe').contents().find('#txtLname').val()),
            //                       //                    Address1:  $.trim($('iframe').contents().find('#txtAdd').val()),
            //                       //                    Address2:  $.trim($('iframe').contents().find('#txtAdd2').val()),
            //                       //                    County: $.trim($('iframe').contents().find('#cmbCountry option:selected').text()),
            //                       //                    State: $.trim($('iframe').contents().find('#cmbStates option:selected').text()),
            //                       //                    City:  $.trim($('iframe').contents().find('#txtCity').val()),
            //                       //                    Zip: $.trim($('iframe').contents().find('#txtZipcode').val()),
            //                       //                    HomePhone:  $.trim($('iframe').contents().find('#txthomphon').val()),
            //                       //                    EMail: $.trim($('iframe').contents().find('#txtemail').val()),
            //                       //                    //$.trim($('#txtPharmacy option:selected').text()),
            //                       //                };

            //                       //                $.ajax({
            //                       //                    type: 'POST',
            //                       //                    url: 'patient-signup',
            //                       //                    data: JSON.stringify(requestData),
            //                       //                    dataType: 'json',
            //                       //                    contentType: 'application/json; charset=utf-8',
            //                       //                    success: function (data) {
            //                       //                        // if success

            //                       //                       // $("#current-med-grid").html(data);

            //                       //                    },
            //                       //                    error: function (xhr, ajaxOptions, thrownError) {
            //                       //                        //if error

            //                       //                        alert('Error : ' + xhr.message);
            //                       //                    },
            //                       //                    complete: function (data) {
            //                       //                        // if completed
            //                       //                        HideLoader1();

            //                       //                    },
            //                       //                    async: true,
            //                       //                    processData: false
            //                       //                });
            //                       //            }

            //                       //            catch (err) {

            //                       //                if (err && err !== "") {
            //                       //                    alert(err.message);
            //                       //                    HideLoader1();
            //                       //                }
            //                       //            }
            //                       //            $(this).dialog("close");
            //                       //            ShowLoader1();
            //                       //        }

            //                       //    },
            //                       //    Close: function () {
            //                       //        $(this).dialog("close");
            //                       //    }
            //                       //},
            //                       //close: function () {

            //                       //}
            //                   }
            //               });
        
            //$dialog.dialog('open');

           
           //   $("#dialog-SignUp").dialog("open");
        }

       
        

        function ForgotPassword() {

            var page1 = '';

            page1 = '@Url.Action("ForgotPassword", "Home")';
           
            $('#Forgotpassworddialog').remove();


            var $dialog = $('<div id="Forgotpassworddialog" style="width:500px;"></div>')
                           .html('<iframe style="border: 0px; " src="' + page1 + '" width="100%" height="100%"></iframe>')
                           .dialog({
                               autoOpen: false,
                               show: {
                                   effect: "blind",
                                   duration: 100
                               },
                               hide: {
                                   effect: "blind",
                                   duration: 100
                               },
                               modal: true,
                               height: 450,
                               width: 600,
                               title: "Forgot Password",
                               buttons: {
                                    Close: function () {
                                       $(this).dialog("close");
                                   }
                               },
                               
                           });
            $dialog.dialog('open');


            //   $("#dialog-SignUp").dialog("open");
        }
      


        // === mohsin
        function DownloadPopup()
        {
            var page1 = '';

            //page1 = '@Url.Action("DownloadAMRApp", "Home")';
            page1='/Content/site/DownloadAMRApp.html';

            $('#DownloadAMRAppDialog').remove();


            var $dialog = $('<div id="DownloadAMRApp" style="width:500px;"></div>')
                             .html('<iframe style="border: 0px; " src="' + page1 + '" width="100%" height="100%"></iframe>')
                             .dialog({
                                 autoOpen: false,
                                 show: {
                                     effect: "blind",
                                     duration: 100
                                 },
                                 hide: {
                                     effect: "blind",
                                     duration: 100
                                 },
                                 modal: true,
                                 height: 200,
                                 width: 300,
                                 title: "Download Started",
                             });
            $dialog.dialog('open');
            window.location.href="http://www.accessmyrecordsportal.com/AMRApp/AMRApp.apk";
        }

        function LicenseAgreement()
        {
            debugger;
            var page1 = '';

            //page1 = '@Url.Action("LicenseAgreement", "Home")';

            page1='/Content/site/LicenseAgreement.html';

            $('#LicenseAgreementDialog').remove();


            var $dialog = $('<div id="LicenseAgreementDialog" style="width:500px;"></div>')
                           .html('<iframe style="border: 0px; " src="' + page1 + '" width="100%" height="100%"></iframe>')
                           .dialog({
                               autoOpen: false,
                               show: {
                                   effect: "blind",
                                   duration: 100
                               },
                               hide: {
                                   effect: "blind",
                                   duration: 100
                               },
                               modal: true,
                               height: 320,
                               width: 600,
                               title: "License Agreement",
                               buttons: {
                                  
                                   "I accept the terms in the license agreement":function()
                                   {
                                       $(this).dialog("close");
                                       DownloadPopup();
                                   }, 
                                   "I do not accept the terms in the license agreement": function ()
                                   {
                                       $(this).dialog("close");
                                       
                                   }

                                  
                               },
                            
                           
                           });
            $dialog.dialog('open');
        }
        // End here -- MOHSIN


        
        // start of myWorkPlace pop up script
        function CommingSoon(id) {

           $('#imgSlider').attr("src", "/Content/SliderImages/" + id + ".jpg");
           
            next = id;
$("#form-myWorkPlace").css("display","block");
            $("#form-myWorkPlace").dialog("open");



        }

        var next;

       

        $(function () {

            tips = $(".validateTips");




            $("#form-myWorkPlace").dialog({
                autoOpen: false,
                show: {
                    effect: "blind",
                    duration: 100
                },
                hide: {
                    effect: "blind",
                    duration: 100
                },


                width: 900,
                height: 500,
                modal: true,
                buttons: {
                    "Prev": function () {

                        if (next > 1)
                            next--;

                        $('#imgSlider').attr("src", "/Content/SliderImages/" + next + ".jpg");
                       

                    },
                    Next: function () {

                        if (next < 4)
                            next++;
                        
                        $('#imgSlider').attr("src", "/Content/SliderImages/" + next + ".jpg");
                       
                    }
                },

            });
            $("#addMyWorkPlace")
            .button()
            .click(function () {
                $("#form-myWorkPlace").dialog("open");
            });
        });

        //- end of myworkplace popup script
        
    </script>

 

</head>
     
<body>
    <div id="page_loader1" style="display: none;">

        <div id="apDiv" align="center">
            <table width="200" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="70px;">&nbsp;</td>
                </tr>
                <tr>
                    <td align="center">
                        <img src="Content/img/image_559926.gif" width="128" height="64" /></td>
                </tr>
                <tr>
                    <td style="text-align: center;" height="70px;">Thank You !
                    you will be receiving an email shortly, please click on the link to complete registration process</td>
                </tr>
            </table>
        </div>

    </div>
   
    <div id="wrapper" >
        <div id="apDiv1">
            <img src="Content/img/amr.png" width="428" height="81" style="margin-left:30px"/>
            <div id="apDiv7">Welcome to your portal services!</div>
            <div id="apDiv8">Provided to you by Access My Records, Inc.</div>
        </div>
        <div style="width: 940px; height: 670px; margin: 0px auto;">
            <div id="Box_1">
                <div id="tabl">
                    <form method="post" action='@Url.RouteUrl("login")' name="form2" autocomplete="off">
                        <table width="294" height="189" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td colspan="2">
                                    <h3>Member Login Area</h3>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">Access ID Code:</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <label for="textfield"></label>
                                    <input class="tb7" name="userlogin" type="text" id="userlogin" size="32" maxlength="32" />
                                    
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">Password:</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input class="tb7" name="password" type="password" id="password" size="32" maxlength="32" /></td>
                            </tr>
                            <tr>
                                <td height="6" colspan="2"></td>
                            </tr>
                            <tr>
                                <td width="123" height="41">
                                 
                                       <input name="Submit" value="" onclick="return validatepass1()" type="submit">
                                    
                         
                                  
                                    
                                </td>
                                <td width="171"><a href="#" onclick="ForgotPassword();">Forgot password?</a></td>
                            </tr>
                           
                            <tr>
                                <td height="4" colspan="2">
                                   @* @{
                                        if (Model != null)
                                        {
                                       //@Model.CurrentUser.ErrorMessage
                                        //<script type="text/javascript">
                                           // var model = @Html.Raw(Json.Encode(@Model.CurrentUser));
                                            //alert(model.ErrorMessage);
                                            //$('#err-msg').text(model.ErrorMessage);
                                            //$("#AlreadyLog").dialog("open");

                                           // window.location = '/';
                                       // </script>
                                        }
                                    }*@
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>



                <div id="apDiv2">
                    <img src="Content/img/register (1).png" width="64" height="64" />
                </div>
                <div id="apDiv9" style="margin-top:12px;">

                    <img id="loader" src="Content/img/login-loader.gif"  style="display:none;" />
                </div>
             
                <div id="apDiv6">
                    <table width="333" border="0" cellpadding="0" cellspacing="0">
                        <tr valign="top">
                            <td width="206">
                                <p style="font-size:16px;font-weight: bold; margin-top:5px;">New Members Signup</p>
                                <input type="hidden" id="hdURL" value='@(Request.Url.Scheme +  "://" + Request.Url.Host + ":" + Request.Url.Port + "/")SignUp' />
                            </td>
                            <td width="11">&nbsp;</td>
                            <td width="116"><a href="#">
                                <img style="border-style: none;" src="Content/img/startnow_btn.png" width="115" height="35" id="SignUp" onclick="OpenSignup();"/></a></td>
                        </tr>
                    </table>
                </div>

            </div>
            <a href='@Url.RouteUrl("Medical-Summary-Report-Login")'>
                <div id="Box_2"></div>
            </a>

             <a href='/Content/Features/features.html' target="_blank">
            <div id="Box_3" style="cursor:pointer;"></div>
                 </a>
            <a href='@Url.RouteUrl("Care-Provider-login")'>
                <div id="Box_4" ></div>
            </a>

        </div>
        <div style="width: 940px; height: 40px; margin: 0px auto; border-radius: 30px; background-color: #fff; margin-top: 40px;">
           @{
               AMR.Core.Utilities.GlobalVar gv = new GlobalVar();
               }
             <p style="margin-left: 40px; padding-top: 7px; margin-top:10px; font-family: Verdana, Geneva, sans-serif; font-size: 12px;">Copyright © 2005 -2014 Access My Records, Inc. - AMR Patient Portal Version 2.0 (@gv.BuildNo)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="../Content/Legal/PrivacyPolicy.html" target="_blank">Privacy</a><strong>|</strong><a href="../Content/Legal/Terms.html" target="_blank">Terms</a></p>
            
            @*<p style="margin-top:-57px; margin-left:740px"><a href="http://www.accessmyrecordsportal.com/AMRApp/AMRApp.apk"><img src="Content/img/AndroidApp.png" height="70px" width= "200px" style =" margin-top:-5px;"/></a></p>*@

            <p style="margin-top:-57px; margin-left:740px"><a href="#" onclick="LicenseAgreement()"><img src="Content/img/AndroidApp.png" height="70px" width= "200px" style =" margin-top:-5px;"/></a></p>
            
             </div>

    </div>


    <!--pop up of MyWorkPlace-->
<div id="form-myWorkPlace" title="Comming Soon" style="display:none;">
     <div id="myWorkPlaceFrame"  width="100%" height="400px" style="border-width:1px;">
         <img id="imgSlider" src="/Content/SliderImages/1.jpg" />
     </div> 
</div>
<!--End of popup of MyWorkPlace-->
    <!--pop up of Logout user-->
<div id="AlreadyLog" title="Another user is logged in">
<div id="err-msg"></div>
</div>
 
    <div id="LoginLockedialoge">
        <div id="LoginLocked">
            <p style="font-size: 12px;font-family: Verdana, Geneva, sans-serif;">Login Is Locked</p>
            <p style="font-size: 12px;font-family: Verdana, Geneva, sans-serif;">Contact us at <a href="javascript:;"><span class="anc"  style="color: blue;text-decoration: underline;" onclick="window.location.href = 'mailto:support@accessmyrecords.com';">support@accessmyrecords.com</span></a> to have your account unlocked.</p>
        </div>
    </div>
<!--End of popup of Logout user-->
</body>
</html>

<script type="text/javascript">
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-26323561-2', 'auto');
    ga('send', 'pageview');
</script>