@using AMR.Models;
@using AMR.Core.Extensions;
@using AMR.Core.Utilities;
@using System.Text;
@model HomeViewModel
@{
    ViewBag.Title = "ResetPassword";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/css/themes/redmond/jquery-ui.css")" />
    <link href="@Url.Content("~/Content/css/themes/redmond/jquery-ui-1.10.3.custom.css")" rel="stylesheet">

    <script src="@Url.Content("~/Content/css/ui/jquery.ui.core.js")"></script>
    <script src="@Url.Content("~/Content/css/ui/jquery.ui.widget.js")"></script>
    <script src="@Url.Content("~/Content/css/ui/jquery.ui.accordion.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery-1.9.1.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery-1.9.2.custom.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery-ui.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.maskedinput-1.2.2.js")"></script>
    <script src="@Url.Content("~/Content/js/validator.js")"></script>

    <link href="~/Content/css/login.css" rel="stylesheet" />
    <style type="text/css">
      
       
</style>
    @{
           if (Model != null)
                                        {
                                       //@Model.CurrentUser.ErrorMessage
                                        <script type="text/javascript">
                                            $(document).ready(function () {
                                              
                                                var model = @Html.Raw(Json.Encode(@Model.CurrentUser)) ;
                                                if(model.ErrorMessage =="Password not reset. Account is active.")
                                                {
                                                    $("#response").text("Reset Password Failed");
                                                    alert(model.ErrorMessage);
                                                    window.location.href='/Login';
                                                }
                                                else{
                                                    $("#response").text("Successfully Reset Password");
                                                    alert(model.ErrorMessage);
                                                
                                                }

                                               
                                               
                                            });
                                           // window.location = '/Login';
                                           // location.replace()
                                        </script>
                                        }
    }
    
           
    <script>
     
        function Login() {
            window.location = '/Login';
        }

    </script>
</head>
    <body>
        <div id="wrapper" style="height: 680px">
        <div style="width: 940px; height: 620px; margin: 0px auto;">

            <div id="Box_1" style="margin-left: 30%; margin-top: 5%;">
                <div id="apDiv2" style="margin-top: 5%;">
                    <img src="Content/img/users_warning.png" width="64" height="64" />
                </div>
                <div id="tabl" style="margin-top: 5%;">
                      <table width="294" height="189" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td colspan="2">
                                    <h4><div id="response" >Successfully Reset Password</div> </h4>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><label for="userlogin"></label></td>
                            </tr>
                             <tr>
                                <td colspan="2" >                               
                                    <a href="#">
                                      @*  <img src="~/Content/img/login_btn.png" />*@
                                <img style="border-style: none;" src="~/Content/img/login_btn.png" width="250" height="40" id="btnanothersession" onclick="localStorage.quit = $.now();Login();"/></a>
                                    </td>
                            </tr>
                            
                        </table>
                </div>
            </div>

        </div>
            </div>
    </body>
    </html>
